@media (max-width: 730px) {
    .container {
        max-width: 350px;
        height: 611px;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .perfume {
        height: 275px;
    }
    
    .perfume img {
        height: 290px;
        width: 100%;
        object-fit: cover;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 12px;
        box-shadow: 0 0 50px rgb(139, 139, 139);
    }

    .info {
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0px;
        width: 350px;
        height: 365px;
        box-shadow: 0 0 50px rgb(139, 139, 139);
    }

    .text {
        padding: 23px;
        max-width: 350px;
        
    }

    h1 {
        max-width: 270px;
    }

    p {
        padding-top: 15px;
        width: 292px;
        font-size: 14px;
    }

    h3 {
        padding-bottom: 10px;
    }

    h2 {
        padding-top: 20px;
    }
    
    div .btn {
        padding-top: 15px;
    }

    button {
        width: 304px;
    }

    .attribution {
        font-size: 10px;
        width: 340px;
        text-align: center;
    }
}